.container {
  margin-top: 25px;
  padding:20px 15px;
  background: #f5f5f5;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: nowrap;
}

/* STEP */
.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  
}

/* ICON */
.icon {
  width: 38px;
  height: 38px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 8px;

}


/* DATE */
.date {
  font-weight: 600;
  font-size: 12px;
}

/* LABEL */
.label {
  font-size: 11px;
  color: #666;
}

/* LINE */
.line {
  flex: 1;
  height: 2px;
  background: #ddd;
 
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    border-radius: 14px;
  }

  .icon {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .date {
    font-size: 10px;
  }

  .label {
    font-size: 10px;
  }
}

/* EXTRA SMALL DEVICES */
@media (max-width: 480px) {
  .container {
    padding: 12px;
  }

  .icon {
    width: 36px;
    height: 36px;
    font-size: 14px;
  }

  .date {
    font-size: 10px;
  }

  .label {
    font-size: 10px;
  }
}
